html * {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.background{
    background-color: antiquewhite;
;

}
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-weight: bold;
    color: #263238;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.check-entry {
    margin-top: 6px;
    width: 30%;
}

.col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 67%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.correction {
    color: darkgoldenrod;
    font-weight: bold;
}

.good-answer {
    color: green;
    font-weight: bold;
}

.index-button-padding {
    padding: 40px;
}

.index-button {
    width: 200px;
    height: 50px;
}

.submit-button {
    width: 500px;
    height: 50px;
}

.button {
    display: inline-block;
    background-color:#82502d;
    color: antiquewhite;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid;
    border-color: #82502d;
    border-radius: 10px;
    transition: 0.4s;
}

.button:hover {
    background-color: antiquewhite;
    color: #82502d;
    border: 2px solid #82502d;
    cursor:pointer;
}

.database-statue {
	display: block;
	position: fixed;
	left: 3;
	bottom: 0;
    font-size: 10px;
}

header{
    position:relative;
    background-color: #82502d;
    margin: 0;
    padding: 0;

}

.wrapper {
    max-width: 1140;
    padding-left: 1px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.site-header-wrapper {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
}

.scam-center {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;

}

.nav-wrapper{
    display: inline-flex;
    padding-left: 0px;
    padding-top: 10px;
    width: 300px;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.separation{
    display:list-item ;
    color: antiquewhite;
    font-size: 18px;
}

.nav-item{
    position: relative;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    display: list-item;
    transition: 0.4s;
}

.nav-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    bottom: -3px;
    left: 15px;
    background-color: antiquewhite;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item:hover::before {
  transform: scaleX(1);
}

.textarea {
    background-color:antiquewhite;
    border: solid 2px;
    border-radius: 5px;
    border-color: #82502d;
}

.text {
    text-align: center;
    color: #82502d;
}

.error-message {
    text-align: center;
    color: #ff4d4d;
}

.red {
    color: #ff4d4d;
}

.green {
    color: #31a92b;  
}